{% extends 'base.html'%}
<div class="main">
  
  <div class="content">
    <div class="container_12">
	<h2>Registration form</h2><br>
	<form action='' method='post'>
		{% csrf_token %} 
		Username<br> <input type="text" name="username"><br>
		Email<br><input type="email" name="email"><br>
		Password<br><input type="password" name="password"><br>
		<input type="submit" name="submit" value="Submit">
	{% csrf_token %}
	</form>
    <a href='/'> <-Go Back <-</a>
    	<p>{{request.user.username}},</p><br>
    	<p> {{user.password}}, </p><br>
    	<p> {{user.email}}  </p><br>

<div class="main">
  
  <div class="content">
    <div class="container_12">
{% include 'partials/footer.html'%}
